#comments-wrapper { margin:0 0 0 40px; }
#comments { margin:0 0 40px 0; }
#comments .post-content { margin:0; }

#comment-area, #trackback-area { margin:15px 0 20px; padding:0 0 5px 0;  }
#trackback-area { display:none; }


/*  ------ comment-header ----------------------------------------------------------------------------------------------------------------------- */
#comment-header { border-bottom:1px solid #444; font-size:11px; position:relative; margin:0; padding:0; min-width:200px; }
#comment-header li { display:inline; float:left; padding:5px 10px; }

.comment-headline { float:left; position:relative; bottom:-6px; left:0; margin:0; padding:0; font-weight:normal; font-size:18px; line-height:100%; }

#comment-header-right { float:right; position:relative; bottom:-1px; margin:0 0px 0 0; padding:0; }
#comment-header-right li, #comment-header-right #trackback-closed { padding:7px 20px; margin:0 0 0 5px; border:1px solid #444; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; background:#111; }
#comment-header-right li.comment-switch-active,#comment-header-right #comment-closed { padding:7px 20px; -moz-border-radius:4px 4px 0 0; -khtml-border-radius:4px 4px 0 0; border-bottom:1px solid #222; background:none; }
.comment-switch-active a { }
#comment-header-right a:hover { text-decoration:none; }


/*  ------ comment ------------------------------------------------------------------------------------------------------------------------------ */
.commentlist { list-style-type:none; margin:0; padding:0; }
.comment { border:1px solid #444; color:#777; margin:0 0 15px; padding:15px 20px 3px; background:#111; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.even-comment, .odd-comment-children { background:#0b0b0b; }
.odd-comment, .even-comment-children { background:#111; }
.admin-comment { }

/* ----- comment-meta ----- */
.comment-meta { height:56px; position:relative; }

.comment-meta-left { }
.avatar { border:1px solid #444; background:#333; width:37px; height:37px; padding:2px; display:inline; float:left; margin:0 10px 0 0; }
.comment-name-date { padding:4px 0 0 0; float:left; }
.comment-name { margin:0 0 5px 0; }
.commentlist a, .commentlist a:visited, .comment-name { }
.commentlist a:hover {  }
a.admin-url { text-decoration:underline; }
a.guest-url { text-decoration:underline; }

.comment-date { font-size:11px; color:#757676; margin:0 0 0 0; }

.comment-act { background:url(img/arrow1.gif) no-repeat left; font-size:11px; position:absolute; right:0px; top:5px; padding:0 0 0 10px; }
.comment-act li { display:inline; }
.comment-reply a, .comment-reply a:visited { border-right:1px solid #444; padding:0 10px 0 0; margin:0 6px 0 0; }
.comment-edit a, .comment-edit a:visited { border-left:1px solid #444; padding:0 0 0 10px; margin:0 0 0 6px; }

/* ----- comment-content ----- */
.comment-content { padding:0; clear:both; margin:0; }
* html .comment-content { padding:5px 0 0 0; }
.comment-content a, .comment-content a:visited { text-decoration:underline; }
.comment-content a:hover { }
.comment blockquote span { margin:0 0 -1em 0; display:block; }

.comment-content ol { margin-bottom:0; }
.comment-content ol li { background:none; margin:0; }

.comment-note { display:block; font-size:11px; margin:0 0 1em 0; color:#33a8e5; border:1px solid #94ddd4; padding:10px 15px; background:#d6f4f0; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

.comment-closed { border:1px solid #444; text-align:center; margin:0 0 15px; padding:15px; background:#222; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

#trackback-closed { }

/* ----- trackback-contens ----- */
.trackback-time { font-size:11px; color:#757676; margin:0 0 7px 15px; }
.trackback-title { margin:2px 0 8px 0; margin:0 0 10px 15px; }
#trackback-url-area { margin:0 0 15px 0; font-size:10px; }
#trackback-url-area label { margin:0 10px 0 0; top:-1px; position:relative; }
#trackback-url-area input { margin:0; padding:2px; font-size:10px; background:#222; border:1px solid #444; color:#999; }

/* ----- comment-pager ----- */
#comment-pager { margin:0 0 20px 0; }
#comment-pager a, #comment-pager span { display:inline-block; }
#comment-pager span {  }
#comment-pager a:hover {  }



/* ---------- form area ------------------------------------------------------------------------------------------------------------------------- */
.comment-form-wrapper { border:1px solid #444; margin:0 0 15px; padding:15px; background:#000;  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

#cancel-comment-reply  { background:url(img/arrow1.gif) no-repeat left center; margin:0 0 1em 0; padding:0 0 0 11px; }

#comment-user-login p { padding:0 0 0 1px; margin:0; line-height:100%; }
#comment-user-login span { margin:0 0 0 40px; }

#comment-login { margin:0; padding:3px 30px 10px 30px; }
#comment-login p { margin:0; padding:12px 0 11px 36px; line-height:100%; }
#comment-login a { margin:0 0 0 20px; padding:0 0 0 20px; background:url(img/arrow1.gif) no-repeat 10px 3px; }

#guest-info { padding:0; width:100%; }
#guest-info div { margin:0 0 12px 0; text-align:left; }
#guest-info input { margin:0; padding:5px 0; border:1px solid #333; width:100%; background:#111; color:#777; }
#guest-info input:focus { border:1px solid #81c8d5; }
#guest-info label { display:block; margin:0 0 5px 0; padding:0 0 0 0; font-size:11px; color:#888;}
#guest-info span { color:#666; margin:0 10px 0 0; }

#comment-textarea textarea { margin:15px 0 0; width:100%; max-width: 100%; height:150px; border:1px solid #333;
                             background:#111; color:#777; font-size:11px; overflow:auto; resize: none; }
#comment-textarea textarea:focus { border:1px solid #81c8d5; }

#submit-comment-wrapper { text-align:center; }
#submit-comment
 { margin:15px auto 0; padding:0px 15px 0px; height:37px; line-height:38px; width:150px; display:block; cursor:pointer; color:#666;
   background:#000; border:1px solid #444; }

#submit-comment:hover { color:#81c8d5; text-decoration:none; border:1px solid #81c8d5; }
#submit-comment:active { box-shadow:none; bottom:-2px; position:relative; }

#input-hidden-field { display:none; }

/* ----- password protected ----- */
.password-protected { text-align:center; margin:0 0 10px 0; padding:10px 20px; color:#fff; background:#3db4b2; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.password-protected p { font-size:12px; margin:0; }